<ion-header>
  <ion-toolbar>
    <ion-title>
      Math game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>What is the result?</p>
  <ion-list>
    <ion-item>
      <ion-input class="ion-text-center" readonly value={{num1}}></ion-input>
      <ion-label>+</ion-label>
      <ion-input class="ion-text-center" readonly value={{num2}}></ion-input>
      <ion-label>=</ion-label>
      <ion-input class="ion-text-center" [(ngModel)]="answer" type="number" step="1"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button block (click)="check()">Check</ion-button>
  </div>
</ion-content>
